*,::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gravity", sans-serif;
}

header {
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header__wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5vh 0;
}

.logo__text {
    color: white;
    text-transform: uppercase;
}

.menu {
    width: 50%;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu__item-link {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid transparent;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.3s;
}

.menu__item-link:hover {
    border: 1px solid white;
    border-radius: 25px;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about-us__title {
    font-weight: 100;
    text-align: center;
    letter-spacing: 20px;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-us__description {
    font-weight: 600;
    text-align: center;
    line-height: 30px;
}

.arrow-down {
    background-color: #19bd9a;
    border-radius: 50%;
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circleShadow 3s linear infinite;
}

@keyframes circleShadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 5px 10px rgba(25, 189, 154, 0.3);
    }

}

.arrow-down__first-line {
    position: relative;
    left: 4px;
    transform: rotate(45deg);
    background-color: #fff;
    width: 20px;
    height: 5px;
}

.arrow-down__second-line {
    position: relative;
    right: 4px;
    transform: rotate(-45deg);
    background-color: #fff;
    width: 20px;
    height: 5px;
}

.about {
    width: 100%;
    padding: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-company {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.info-company__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.title-block__text {
    text-transform: uppercase;
    font-weight: 300;
}

.info-company__description {
}

.info-company__description-text {
    line-height: 2;
    opacity: 0.6;
}

.info-company__button-link {
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.3s;
}

.info-company__button-link:hover {
    color: white;
    background-color: #383838;
}

.details-company {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-company__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10vh;
}

.details-company__description {
    text-align: center;
    margin-top: 5vh;
}

.cycle-button {
    margin-top: 5vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cycle-button--item {
    background-color: #81868e;
    width: 56px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cycle-button--item-active {
    background-color: #19bd9a;
}

.cycle-button--image {
    filter: brightness(0) invert();
    width: 32px;
}

.ideas {
    padding: 10vh 0;
    width: 75%;
}

.ideas__text {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.ideas__description {
    width: 30%;
}

.ideas__description-text {
    opacity: 0.6;
}

.future {
    width: 40%;
}

.future__title {
    text-align: center;
}

.future__description-text {
    margin-top: 5vh;
    text-align: center;
}

.slider-products {
    width: 100%;
}

.slider-products__images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-products--item {
    color: white;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #19bd9a;
    width: 33.3%;
    height: 320px;
    transition: 0.5s;
    filter: brightness(30%);
}

.slider-products--item1 {
    background-image: url("../images/slider1.jpg");
}

.slider-products--item2 {
    background-image: url("../images/slider2.jpg");
}

.slider-products--item3 {
    background-image: url("../images/slider3.jpg");
}

.slider-products--item-active {
    color: transparent;
    width: 55%;
    filter: brightness(100%);
}

.slider-products-text {

    color: white;
    background-color: #19bd9a;
    padding: 2vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-products-text__wrapper {
    height: 5vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-company__button-link {
    color: white;
    border-color: white;
}

.service {
    padding: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.graphics {
    padding: 10vh 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.graphics__cycle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progress-cycles {
    display: flex;
    align-items: center;
}

.progress-cycle__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.progress-cycle {
    width: 125px;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-cycle__inner {
    position: absolute;
    width: 125px;
    aspect-ratio: 1;
    border: 5px solid gray;
    border-radius: 50%;
}

.progress-cycle__outer {
    z-index: 2;
    position: absolute;
    width: 125px;
    aspect-ratio: 1;
    border: 5px solid dodgerblue;
    border-radius: 50%;
}

.progress-cycle__locker {
    top: 0;
    left: 60%;
    background-color: white;
    z-index: 3;
    position: absolute;
    width: 50px;
    aspect-ratio: 1;
}

.first-cycle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-cycle__title-cycle {
    text-align: center;
    margin-top: 2vh;
}

.graphics > .info-company {
    width: auto;
    justify-content: space-around;
}

.first-cycle, .second-cycle, .third-cycle  {
    margin-right: 2vh;
}

.impressed {
    width: 100%;
    padding: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/impressedBG.png");
    background-size: cover;
    background-position: center center;
}

.impressed-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.impressed-text {
    color: white;
    opacity: 0.7;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    line-height: 2;
}

.portfolio {
    display: flex;
    padding: 5vh 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio__title {
    text-align: center;
    width: 90%;
}

.portfolio__header {
    padding-bottom: 5vh;
}

.portfolio__description {
    text-align: center;
}

.portfolio .menu {
    padding: 5vh 0;
}

.portfolio .menu__item-link {
    color: black;
}