*,::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gravity", sans-serif;
}

header {
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header__wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5vh 0;
}

.logo__text {
    color: white;
    text-transform: uppercase;
}

.menu {
    width: 50%;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu__item-link {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid transparent;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.3s;
}

.menu__item-link:hover {
    border: 1px solid white;
    border-radius: 25px;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about-us__title {
    font-weight: 100;
    text-align: center;
    letter-spacing: 20px;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-us__description {
    font-weight: 600;
    text-align: center;
    line-height: 30px;
}

.arrow-down {
    background-color: #19bd9a;
    border-radius: 50%;
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circleShadow 3s linear infinite;
}

@keyframes circleShadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 5px 10px rgba(25, 189, 154, 0.3);
    }

}

.arrow-down__first-line {
    position: relative;
    left: 4px;
    transform: rotate(45deg);
    background-color: #fff;
    width: 20px;
    height: 5px;
}

.arrow-down__second-line {
    position: relative;
    right: 4px;
    transform: rotate(-45deg);
    background-color: #fff;
    width: 20px;
    height: 5px;
}

.about {
    width: 100%;
    padding: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-company {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.info-company__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.title-block__text {
    text-transform: uppercase;
    font-weight: 300;
}

.info-company__description {
}

.info-company__description-text {
    line-height: 2;
    opacity: 0.6;
}

.info-company__button-link {
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.3s;
}

.info-company__button-link:hover {
    color: white;
    background-color: #383838;
}

.details-company {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-company__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10vh;
}

.details-company__description {
    text-align: center;
    margin-top: 5vh;
}

.cycle-button {
    margin-top: 5vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cycle-button--item {
    background-color: #81868e;
    width: 56px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cycle-button--item-active {
    background-color: #19bd9a;
}

.cycle-button--image {
    filter: brightness(0) invert();
    width: 32px;
}

.ideas {
    padding: 10vh 0;
    width: 75%;
}

.ideas__text {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.ideas__description {
    width: 30%;
}

.ideas__description-text {
    opacity: 0.6;
}

.future {
    width: 40%;
}

.future__title {
    text-align: center;
}

.future__description {
}

.future__description-text {
    margin-top: 5vh;
    text-align: center;
}